<div class="container-padrao">
  <header class="topbar">
    <h1>Produtos</h1>
  </header>

    <section class="content">
      <div class="filtros">
        <div class="filtros-produto">
          <button>Todos</button>
          <button>Com desconto</button>
          <button>Inativos</button>
        </div>

        <div class="filtros-preco">
          <input
            type="number"
            [(ngModel)]="filtros.minPrice"
            placeholder="Preço mín."
          />
          <input
            type="number"
            [(ngModel)]="filtros.maxPrice"
            placeholder="Preço máx."
          />
        </div>

        <div class="busca">
          <div class="busca-input">
            <input
              type="text"
              [(ngModel)]="filtros.search"
              placeholder="Buscar produto..."
              (keyup.enter)="aplicarFiltros()"
            />
          </div>

          <div class="criar-produto">
            <button (click)="criarProduto()">Criar produto</button>
          </div>
        </div>

        <div class="tabela product-grid">
          <div *ngFor="let product of produtosFiltrados" class="product-card">
            <img [src]="product.imageUrl" [alt]="product.name" />
            <h3>{{ product.name }}</h3>
            <p>R$ {{ product.price }}</p>
          </div>
        </div>
      </div>
    </section>
  </div>
